@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(./fonts/NunitoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(./fonts/NunitoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url(./fonts/NunitoSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.container {
  margin: 16px;
}

.flex-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.button {
  height: 24px;
  padding: 4px;
  margin: 8px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 240px;
  margin: 35px;
  border-radius: 4px;
}

.flag-container {
  height: 160px;
}

.flag {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 160px;
  width: 240px;
  padding: 0;
}

.card-container {
  padding-left: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.card-detail {
  font-size: 14px;
  margin: 2px;
}

.percentage {
  font-size: 12px;
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 120px;
    margin: 12px;
  }
  .flag-container {
    height: 80px;
  }
  .flag {
    height: 80px;
    width: 120px;
  }

  .card-container {
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .card-detail {
    font-size: 12px;
  }

  .percentage {
    font-size: 10px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.error-msg {
  color: red;
}
